{% extends 'base.html'%}
{% block title %}
Review Suggested Map Corrections
{% endblock title %}
{% block header %}
Review Suggested Map Corrections
{% endblock header %}

{% block content %}

<table class="table table-striped table-dark table-bordered text-light table-hover table-sm text-center align-middle">
    <thead>
        <tr><th>Location Name</th><th>Suggested By</th></tr></thead>
        {% for correction in corrections %}
            <tr>
                <td class="col-md-3">{{ correction.location_name }}</td>
                <td class="col-md-3">{{ correction.first_name }} {{ correction.last_name }}</td>
                <td class="col-md-3">
                    <form method="POST">
                        {% csrf_token %}
                        <input type="text" name="id" value="{{ correction.id }}" style="display:none;"/>
                        <button class="btn btn-light">Review Suggestion</button>
                    </form>
                </td>

            </tr>
        {% endfor %}
</table>
{% endblock content %}
{% block script %}
<script>
    function navigate_to(url) {
        window.location = url;
    }
</script>
{% endblock script %}