<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">    

    {% block extra_style %}{% endblock extra_style %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha512-3P8rXCuGJdNZOnUx/03c1jOTnMn3rP63nBip5gOP2qmUh5YAdVAvFZ1E+QLZZbC1rtMrQb+mah3AfYW11RUrWA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    

    <title>{% block title %}Document{% endblock title %}</title>
</head>
<body class="bg-dark">
    <div class="container-fluid bg-dark">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <div class="container-fluid">
            <a class="navbar-brand" href="/dropoff">Beantown<br>Compost</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav text-light">
                    <li class="nav-item active p-1">
                    <a class="nav-link" href="/dropoff">Find a Compost Drop-off</a>
                    </li>
                    <li class="nav-item p-1">
                        <a class="nav-link" href="#">How It Works</a>
                    </li>
                    <li class="nav-item dropdown p-1">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Submit Map Updates
                        </a>
                        <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/add_location">Add an Additional Compost Drop-off</a>
                        <a class="dropdown-item" href="/locations">Submit a Correction to the Map</a>
                        <a class="dropdown-item" href="/vote">Vote for a New Bin Location</a>
                        {% if not user.is_authenticated %}
                            <a class="dropdown-item" href="{% url 'login' %}">👤 Managers Login</a>
                        {% endif %}
                    </li>
                    {% if user.is_authenticated %}
                        <div class="dropdown-divider"></div>
                        <li class="nav-item dropdown p-1">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                👤 {{user.username}}
                            </a>
                            <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                            <a class="dropdown-item" href="#">Settings</a>
                            <a class="dropdown-item" href="#">Request Permission to Manage a Site</a>
                            <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div>
      </nav>
        <h2 class="text-light container-fluid">{% block header %}{% endblock header %}</h2>
        <div class="container-fluid">
            {% if messages %}
                {% for message in messages%}
                    <div class="alert alert-{{message.tags}}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% block content %}
            {% endblock content %}
        </div>
    <footer class="bg-dark text-center text-lg-start navbar-fixed-bottom ">
        <div class="text-center text-light bg-dark p-3">
          Made with ❤️ by 
          <a class="text-light" href="http://www.talzaken.com/">Tal Zaken</a>
        </div>
      </footer>
    </div>
</body>
    {% block script %} {% endblock script %}
</html>