{% extends 'dropoff_locations/base.html' %}
{% block extra_style %}
<style>
    .map-container {
        height: 60vh;
        display: block;
        overflow: hidden;
    }
</style>
{% endblock extra_style %}
{% block title %}
Drop Off Compost
{% endblock title %}
{% block header %}
Drop Off Compost
{% endblock header %}

{% block content %}
    <div class="map-container">
        {{ map|safe }}
    </div>
    <table class="table table-striped table-dark table-bordered text-light table-hover table-sm">
        <thead>
            <tr><th>Click a Location to Submit a Correction</th></tr></thead>
        {% for location in locations %}
            <tr onclick="navigate_to('/correct_location/?id={{ location.id }}')"><td class="col-md-3">{{ location }}</td></tr>
        {% endfor %}
    </table>
{% endblock content %}
{% block script %}
<script>
    function navigate_to(url) {
        window.location = url;
    }
</script>
{% endblock script %}
