{% extends 'dropoff_locations/base.html' %}
{% block extra_style %}
<style>
    .map-container {
        height: 60vh;
        display: block;
        overflow: auto;
    }
</style>
{% endblock extra_style %}
{% block title %}
Submit A Correction to the Map
{% endblock title %}
{% block header %}
Submit a Correction - Select a Location
{% endblock header %}

{% block content %}
    <div class="map-container">
        {{ map|safe }}
    </div>
    <table class="table table-striped table-dark table-bordered text-light table-hover table-sm">
        <thead>
            <tr><th>Click a Location to Submit a Correction</th></tr></thead>
        {% for location in locations %}
            <tr onclick="navigate_to('/correct_location/?id={{ location.id }}')"><td class="col-md-3">{{ location }}</td></tr>
        {% endfor %}
    </table>
{% endblock content %}
{% block script %}
<script>
    let frame = document.getElementsByTagName('iframe')[0];
    var innerDoc = frame.contentDocument || frame.contentWindow.document;

    function navigate_to(url) {
        window.location = url;
    }
    //function highlight_pin(id) {
    //    innerDoc.body.querySelector("#{{ map_id }} > div.leaflet-pane.leaflet-map-pane > div.leaflet-pane.leaflet-marker-pane > div:nth-child("+ id +")").classList.add('awesome-marker-icon-red');
    //    innerDoc.body.querySelector("#{{ map_id }} > div.leaflet-pane.leaflet-map-pane > div.leaflet-pane.leaflet-marker-pane > div:nth-child("+ id +")").classList.remove('awesome-marker-icon-green');
    //}
    //function unhighlight_pin(id) {
    //    innerDoc.body.querySelector("#{{ map_id }} > div.leaflet-pane.leaflet-map-pane > div.leaflet-pane.leaflet-marker-pane > div:nth-child("+ id +")").classList.add('awesome-marker-icon-green');
    //    innerDoc.body.querySelector("#{{ map_id }} > div.leaflet-pane.leaflet-map-pane > div.leaflet-pane.leaflet-marker-pane > div:nth-child("+ id +")").classList.remove('awesome-marker-icon-red');
    //}
</script>
{% endblock script %}
