{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% block title %}
Beantown Compost - Login
{% endblock title %}
{% block header %}
Login
{% endblock header %}

{% block content %}
    <div class="content-section text-light">
        {% crispy form %}
        <div class="border-top pt-3">
            <small class="text-muted">
                Need An Account? <a class="ml-2" href="{% url 'register'%}">Sign Up Now</a><br>
                Forgot Your Password? <a href="{% url 'password_reset' %}">Reset Password</a>

            </small>
        </div>
    </div>
{% endblock content %}